//solid colors without transparency
$primary-color:#2059f6;
$secondary-color:#0dc979;
$tertiary-color:#818181;

//light theme
$text-light-color:#2e2e2e;
$text-light-reverse-color:#f5f5f5;
$element-light-color:#ffffff;
$element-light-reverse-color:#121024;
$body-light-color:#ffffff;

//dark theme
$text-dark-color:#f5f5f5;
$text-dark-reverse-color:#2e2e2e;
$element-dark-color:#121024;
$element-dark-reverse-color:#ffffff;
$body-dark-color:#090819;

//items color 

$like-color:#0dc979;
$dislike-color:#ff2020;
$close-color:#ff2020;