.blog-slider-accordian{
    width: 100%;
    height: 504px;
    margin: 50px 0;
    padding: 0 30px;
    .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
        .accordian {
        width: 25%;
        height: 100%;
        position: relative;
        position: relative;
        overflow: hidden;
        transition: all .8s ease-in-out;
        .img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: bottom center;
            filter: grayscale(1);
            z-index: 1;
        }
        .accordian-on-hover{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(32, 89, 246, 0.5);
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 2;
            overflow: hidden;
            transition: all .8s ease-in-out;
            .detail-btns {
                display: flex;
                flex-direction: column;
                width: 64px;
                height: 226px;
                background-color: #fff;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                position: absolute;
                bottom: -200px;
                right: 20px;
                align-items: center;
                justify-content: center;
                transition: all .5s ease-in-out;
                a{
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    background-color: #2059f6;
                    margin: 17px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .7s ease-in-out;
                    transform: rotate(360deg);
                    box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.26);
                    &:hover{
                        box-shadow: 0px 3px 10px 2px #2059f68f;
                    }
                    i {
                        color: #fff;
                        font-size: 25px;
                    }
                }
            }
            .read-more{
                width: 34px;
                height: 34px;
                background-color: #fff;
                border-radius: 50%;
                z-index: 3;
                position: absolute;
                bottom: -50px;
                left: -50px;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                transform: rotate(360deg);
                transition: all .7s ease-in-out;
                box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.26);
                &:hover {
                    background-color: #2059f6;
                    color: #fff;
                    box-shadow: 0px 3px 10px 2px #2059f68f;
                    }
            }
        }
        p {
            width: 100%;
            height: 57px;
            color: #fff;
            clip-path: blur(4px);
            background-color: hsla(0, 0%, 51%, 0.45);
            text-align: center;
            padding: 21px 0 21px 0;
            position: absolute;
            top: 75px;
            transition: background-color .1s ease , background-color .1s ease , padding .7s ease-in-out , width .7s ease-in-out;
            z-index: 3;
        }
        span {
            position: absolute;
            top: 110px;
            right: -30px;
            color: #fff;
            z-index: 3;
            font-size: 13px;
            opacity: 0;
            transition: all .7s ease-in-out;
        }
        &:hover{
            width: 35%;
            filter: none;
            p {
            backdrop-filter: blur(0);
            background-color: hsla(0, 0%, 51%, 0);
            padding: 0 ;
            width: 60%;
            }
            span {
                top: 110px;
                right: 30px;
                opacity: 1;
            }
            .accordian-on-hover {
                opacity: 1;
            }
            .read-more {
                left: 20px;
                bottom: 20px;
                transform: rotate(0deg);
            }
            .detail-btns{
                border-top-left-radius: 32px;
                border-top-right-radius: 32px;
                bottom: 0;
                a {
                    transform: rotate(0);
                }
            }
        }
        }
        .accordian:nth-child(1) .img{
            background-image: url(/Assets/image/blog-accordian/audi.jpg);
        }
        .accordian:nth-child(2) .img{
            background-image: url(/Assets/image/blog-accordian/mitsubishi.jpg);
        }
        .accordian:nth-child(3) .img{
            background-image: url(/Assets/image/blog-accordian/mustang.jpg);
        }
        .accordian:nth-child(4) .img{
            background-image: url(/Assets/image/blog-accordian/audi2.jpg);
        }
    }
}