@font-face {
    font-family: Shabnam;
    src: url('../font/shabnam-font-v5.0.1/Shabnam.eot');
    src: url('../font/shabnam-font-v5.0.1/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('../font/shabnam-font-v5.0.1/Shabnam.woff') format('woff'),
         url('../font/shabnam-font-v5.0.1/Shabnam.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Shabnam;
    src: url('../font/shabnam-font-v5.0.1/Shabnam-Bold.eot');
    src: url('../font/shabnam-font-v5.0.1/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/shabnam-font-v5.0.1/Shabnam-Bold.woff') format('woff'),
         url('../font/shabnam-font-v5.0.1/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  @font-face {
     font-family: Teko;
     src: url('../font/Teko/Teko-Bold.ttf');
     font-weight: bold;
   }