main{
    display: flex;
}
.portfolio-design-one {
    position: relative;
    width: 48em ;
    height: 32.5em;
    font-size: 16px;
    margin: 3em;
    @include center;
    .title{
        position: absolute;
        bottom: 15%;
        right: 60%;
        width: max-content;
        height: 4em;
        border-radius: 2em;
        background-color: #fff;
        padding: 0 2em;
        @include center;
        z-index: 3;
    }
    .image-container {
        width: 32.5em;
        height: 32.5em;
        border-radius: 50%;
        overflow: hidden;
        
        z-index: 2;
        @extend %porfolio-shadow;
        .parallax{
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: scale(1.15);
        }
    }
    .author, .date , .category{
        position: absolute;
        min-width:10em;
        width: max-content;
        height: max-content;
        @include center;
        border-radius: 2em 0 0 2em;
        padding:  0 1em;
        backdrop-filter: blur(.5em);
        background-color: rgba($color: $primary-color, $alpha: 0.16);
        z-index: 1;
        span{
            font-size: .8em;
            padding: 1em;
        }
        i{
            font-size: 1.5em;
            color: $primary-color;
        }
    }
    .author{
        right: 80%;
        span{
            font-weight: bold;
        }
    }
    .date , .category{
        left: 80%;
        border-radius: 0 2em 2em 0;
    }
    .date, .author{
        top: 30%;
    }
    .category{
        bottom: 40%;
    }
}
.portfolio-design-two {
    position: relative;
    width: 48em ;
    height: 32.5em;
    font-size: 16px;
    margin: 3em;
    @include center;
    .title{
        position: absolute;
        bottom: 15%;
        right: 60%;
        width: max-content;
        height: 4em;
        border-radius: 2em;
        background-color: #fff;
        padding: 0 2em;
        @include center;
        z-index: 3;
    }
    .image-container {
        width: 32.5em;
        height: 32.5em;
        border-radius: 50%;
        overflow: hidden;
        z-index: 2;
        @extend %porfolio-shadow;
        .parallax{
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: scale(1.15);
        }
    }
    .author, .date , .category{
        position: absolute;
        min-width:10em;
        width: max-content;
        height: max-content;
        @include center;
        border-radius: 2em 0 0 2em;
        padding:  0 1em;
        backdrop-filter: blur(.5em);
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        background-color: rgba($color: $primary-color, $alpha: 0.16);
        z-index: 1;
        span{
            font-size: .8em;
            padding: 1em;
        }
        i{
            font-size: 1.5em;
            color: $primary-color;
        }
    }
    .author{
        right: 70%;
        span{
            font-weight: bold;
        }
    }
    .date , .category{
        left: 71%;
        border-radius: 0 2em 2em 0;
    }
    .date, .author{
        top: 30%;
    }
    .category{
        bottom: 40%;
    }
    &:hover{
        .author{
            right: 80%;
        }
        .date , .category{
            left: 80%;
            border-radius: 0 2em 2em 0;
        }
    }
    
}