.single-product-design3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    .product {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        max-width: 50%;
        background-color: rgba($primary-color, $alpha: 0.16);
        border-radius: 5em 0 0 5em;
        padding: 10em 0 2em 2em;
        .tabs {
            position: relative;
            z-index: 11;
            width: 20%;
            .tab {
                width: 6.625em;
                background-color: var(--element-color);
                margin: 1em 0;
                border-radius: 2em 0 0 2em;
                padding: 1em;
                @extend %general-shadow;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                z-index: 11;
                &:hover {
                    @extend %btn-shadow-hover;
                }
            }
            .active {
                width: 100%;
                border-radius: 0 2em 2em 0;
                background-color: $primary-color;
                color: #fff;
                pointer-events: none;
            }
        }
        .product-info {
            width: 80%;
            .product-name {
                margin: 1.5em 0;
                font-weight: bold;
            }
            .product-id {
                width: 100%;
                color: $tertiary-color;
                font-weight: bold;
                margin: 1.5em 0;
            }
            .type {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 3em 0;
                margin: 1.5em 0;
                ul {
                    font-size: 13px;
                    display: flex;
                    li {
                        margin: 0 0.5em;
                        input {
                            display: none;
                        }
                        label {
                            cursor: pointer;
                        }
                        p {
                            transition: all 0.3s ease-in-out;
                            border-radius: 2em;
                            padding: 0.5em 2em;
                        }
                        input:checked ~ p {
                            background-color: $primary-color;
                            font-weight: bold;
                            color: #fff;
                            @extend %btn-shadow-hover;
                        }
                    }
                }
            }
            .price-box {
                width: 100%;
                display: flex;
                font-size: 16px;
                align-items: center;
                margin: 1.5em 0;
                .title,
                .price,
                .unit {
                    font-size: 1em;
                    font-weight: bold;
                }
                .price {
                    margin: 0 0.5em;
                    color: $primary-color;
                }
                ul li {
                    display: inline-flex;
                }
                .spinner {
                    margin: 0 2em;
                    @extend %spinner;
                }
                .add-btn {
                    @extend %add-btn;
                }
            }
        }
        .accessories {
            display: flex;
            height: 22.75em;
            overflow: hidden;
            .accessories-title {
                padding: 2em;
            }
            .accessories-box {
                width: 100%;
                .swiper-container {
                    width: 50em;
                }
                .rapid-accessories-slide {
                    font-size: 18px;
                    position: relative;
                    background-color: var(--element-color);
                    border-radius: 50% 50% 50% 0;
                    width: 17.87em;
                    height: 18.5em;
                    @extend %general-shadow;
                    transition: all 0.4s ease-in-out;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50%;
                        height: 50%;
                        object-fit: contain;
                        transition: all 0.3s ease-in-out;
                        z-index: 2;
                    }
                    ul {
                        position: absolute;
                        top: 65%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        opacity: 0;
                        transition: all 0.4s ease-in-out;
                        li {
                            text-align: center;
                            font-weight: bold;
                            padding: 0.2em 0;
                            &:last-child {
                                color: $primary-color;
                            }
                        }
                    }
                    &:hover {
                        img {
                            top: 25%;
                        }
                        ul {
                            opacity: 1;
                        }
                    }
                    .spinner {
                        position: absolute;
                        bottom: 0.5em;
                        left: 0.5em;
                        @extend %spinner;
                    }
                    .add-btn {
                        position: absolute;
                        bottom: 2em;
                        right: 3.5em;
                        @extend %add-btn;
                    }
                    .eva-checkmark-outline {
                        position: absolute;
                        color: #fff;
                        bottom: 2.5rem;
                        right: 6.5rem;
                        opacity: 0;
                        transition: all 0.4s ease-in-out;
                    }
                    .added-mark {
                        opacity: 1;
                        font-size: 30px;
                    }
                }
                .lightgreen {
                    background-color: rgba($secondary-color, $alpha: 0.2);
                }
            }
        }
    }
    .gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        max-width: 50%;
        overflow: hidden;
        z-index: 1;
        .product-tools-container {
            position: relative;
            min-width: 4em;
            height: 15.5em;
            position: relative;
            bottom: 10em;
            border-radius: 1.5em 0 0 1.5em;
            @include flex-col-center;
            z-index: 1;
            ul {
                @include flex-col-center;
                li {
                    width: 2.125em;
                    height: 2.125em;
                    background-color: var(--element-color);
                    border-radius: 50%;
                    margin: 0.5em 0;
                    padding: 0.3em;
                    box-shadow: 0px 0px 5px 1px rgba($tertiary-color, $alpha: 0.5);
                    i {
                        color: var(--text-color);
                        font-size: 1.5em;
                    }
                    &:nth-child(2) i {
                        color: red;
                    }
                    &:hover {
                        box-shadow: 0px 0px 8px 1px rgba($primary-color, $alpha: 0.5);
                    }
                }
            }
        }
        .gallery-box{
            overflow: hidden;
            width: 100%;
            height: 100%;
            .swiper-container{
                width: 100%;
                height: 100vh;
            }
            .swiper-slide {
                display: flex;
                box-shadow: none;
                align-items: center;
                justify-content: center;
            }
            .swiper-slide-next{
                transition: all 2s ease-in-out;
                transform: rotate(-10deg) scale(.9);
            }
            .swiper-slide-active{
                transition: all 2s ease-in-out;
                transform: rotate(0) scale(1);
            }
            .swiper-slide-prev{
                transition: all 2s ease-in-out;
                transform: rotate(10deg) scale(.9);
            }
        }
    }
    .cart {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2em;
        top: 2.5em;
        left: 50%;
        transform: translate(-50%);
        width: 74em;
        height: 6.62em;
        border-radius: 5em;
        background-color: var(--element-color);
        @extend %general-shadow;
        z-index: 2;
        .title {
            font-weight: bold;
            color: $secondary-color;
        }
        .view-cart-btn {
            width: 10.3em;
            height: 3.25em;
            border-radius: 4em;
            background-color: $primary-color;
            transition: all 0.3s ease-in-out;
            a {
                @include center;
                width: 100%;
                height: 100%;
                color: #fff;
                font-weight: bold;
            }
            &:hover {
                @extend %btn-shadow-hover;
            }
        }
        .cart-slider-box {
            width: 43.75em;
            .swiper-container {
                margin-top: -1em;
            }
            .cart-slide {
                height: 100%;
                @include center;
                box-shadow: none;
                img {
                    height: 4.5em;
                    width: 4.5em;
                    object-fit: contain;
                    margin: 0 0.5em;
                }
                ul {
                    height: 3.12em;
                    border-radius: 3em;
                    background-color: rgba($secondary-color, $alpha: 0.2);
                    @include center;
                    li {
                        width: max-content !important;
                        padding: 0 1em;
                        color: rgba($secondary-color, $alpha: 1);
                    }
                }
            }
        }
    }
    .panels {
        width: 0;
        .floating-panel {
            width: 81vw;
            height: 75vh;
            border-radius: 3em;
            background-color: #fff;
            padding: 0.5em 1.5em;
            overflow: hidden;
            z-index: 12;
            @extend %box-shadow;
            .title {
                width: 100%;
                height: 3.5em;
                text-align: right;
                font-weight: bold;
                color: $primary-color;
                box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.16);
                strong {
                    color: var(--text-color);
                }
            }
            #accordion2 {
                height: 100%;
                .tab {
                    width: 100%;
                    height: 3.5em;
                    text-align: right;
                    color: $primary-color;
                    border: none;
                    box-shadow: 0 -16px 16px -16px rgba(0, 0, 0, 0.16);
                    border-radius: 3em;
                    outline: none;
                    cursor: pointer;
                    i{
                        color: var(--text-color);
                        float: left;
                        margin-left: 2em;
                        padding: .5em;
                        border: 1px solid var(--text-color);
                        border-radius: 50%;
                    }
                    &:first-child{
                        box-shadow: none;
                    }
                }
                .content {
                    height: max-content;
                    img {
                        width: 10em;
                        height: 10em;
                        object-fit: contain;
                    }
                }
            }
        }
        .modal{
            overflow: visible;
        }
        .product-short-description {
            .text{
                height: 90%;
            }
        }
        .comments {
            display: flex;
            overflow: visible;
            .comment-statistics {
                flex: 0.5;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                div:first-child {
                    p:first-child {
                        font-size: 16px;
                    }
                    p:nth-child(2) {
                        padding-top: 21px;
                        color: $tertiary-color;
                        span {
                            font-size: 16px;
                            padding: 0 3px;
                        }
                    }
                    h6 {
                        padding-right: 99px;
                        color: $primary-color;
                        font-size: 48px;
                    }
                    p:last-child {
                        padding-right: 162px;
                    }
                }
                .rating {
                    display: flex;
                    justify-content: center;
                    ul li {
                        direction: ltr;
                        display: flex;
                        flex-direction: row;
                        padding: 4px 2px;
                        i {
                            color: #ffd700;
                            padding: 0 5px;
                            z-index: 0;
                        }
                        p {
                            font-weight: bold;
                            padding-right: 17px;
                        }
                        .progress {
                            width: 190px;
                            height: 8px;
                            background-color: rgba($tertiary-color, $alpha: 0.15);
                            margin: 5px 0;
                            .progress-bar {
                                height: 100%;
                                width: 0;
                                background-color: $primary-color;
                            }
                        }
                        &:nth-child(1) .progress-bar {
                            width: 50%;
                        }
                        &:nth-child(2) .progress-bar {
                            width: 40%;
                        }
                        &:nth-child(3) .progress-bar {
                            width: 60%;
                        }
                        &:nth-child(4) .progress-bar {
                            width: 20%;
                        }
                        &:nth-child(5) .progress-bar {
                            width: 30%;
                        }
                    }
                }
                .new-comment-box {
                    position: relative;
                    p {
                        font-weight: bold;
                        font-size: 16px;
                    }
                    .add-comment-btn {
                        @extend %add-comment-btn;
                        position: relative;
                        float: left;
                    }
                }
            }
            .users-comments {
                flex: 2;
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: column;
                .title {
                    display: flex;
                    justify-content: space-between;
                    span {
                        border-bottom: 1px solid $primary-color;
                        padding-bottom: 1em;
                    }
                    div {
                        @extend %more-btn;
                        margin: 0.5em 0 0 0.5em;
                    }
                }
                .comments-slider-box {
                    height: 100%;
                    width: 100%;
                    padding: 1em;
                    .swiper-slide {
                        box-shadow: none;
                        width: max-content !important;
                    }
                    .comment-item {
                        @extend %comment-panel;
                        span {
                            margin: 0;
                            font-size: 0.5em;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .close-btn{
            @extend %close-btn;
            outline: none;
            border: none;
            position: absolute;
            top: -1.5em;
            right: -1.5em;
            z-index: 10;
        }
    }
}






